body {
    background-color: wheat;
    text-align: center;
}


h1 {
    color: darkolivegreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

h2 {
    color: #6f4576;
    font-style: italic;
}

p {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategray;
    font-size: medium;
}

ul {
    background: #3399ff;
    padding: 20px;
  }

  ul li {
    background: #cce5ff;
    color: cornflowerblue;
    margin: 5px;
  }